body
{
    background-color: #121222;
    color: #33ccee;
    text-align: center;
}
.p
{
    font-size: 20px;
    color: #33ddee;
    text-align: center;
}
.dirent
{
    color: #33ddee;
    font-size: 24px;
}
